In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('postgresql://data_engineer_test_user:8WBNsM8B^?eDpN$q@localhost:5432/data_engineer_test')

In [3]:
query = ("""
CREATE OR REPLACE VIEW data_engineer.view_aeroporto_companhia_aerea_maior_atuacao
AS WITH result_origem AS (
         WITH max_origem AS (
                 WITH count_origem AS (
                         SELECT v.icao_empresa_aerea,
                            count(v.icao_empresa_aerea) AS count_icao_empresa_aerea,
                            v.icao_aerodromo_origem
                           FROM data_engineer.vra v
                          WHERE v.situacao_voo::text = 'REALIZADO'::text AND v.partida_real >= '2021-01-01 00:00:00'::timestamp without time zone AND v.chegada_real < '2022-01-01 00:00:00'::timestamp without time zone
                          GROUP BY v.icao_aerodromo_origem, v.icao_empresa_aerea
                        )
                 SELECT max(count_origem_1.count_icao_empresa_aerea) AS max_icao_empresa_aerea,
                    count_origem_1.icao_empresa_aerea
                   FROM count_origem count_origem_1
                  GROUP BY count_origem_1.icao_empresa_aerea
                )
         SELECT md.icao_empresa_aerea,
            md.max_icao_empresa_aerea,
            count_origem.icao_aerodromo_origem
           FROM ( SELECT v.icao_empresa_aerea,
                    count(v.icao_empresa_aerea) AS count_icao_empresa_aerea,
                    v.icao_aerodromo_origem
                   FROM data_engineer.vra v
                  WHERE v.situacao_voo::text = 'REALIZADO'::text AND v.partida_real >= '2021-01-01 00:00:00'::timestamp without time zone AND v.chegada_real < '2022-01-01 00:00:00'::timestamp without time zone
                  GROUP BY v.icao_aerodromo_origem, v.icao_empresa_aerea) count_origem
             JOIN max_origem md ON md.icao_empresa_aerea::text = count_origem.icao_empresa_aerea::text AND md.max_icao_empresa_aerea = count_origem.count_icao_empresa_aerea
        )
 SELECT ai.name,
    result_destino.icao_aerodromo_destino AS icao_aeroporto,
    ac.razao_social,
    result_destino.icao_empresa_aerea,
    ro.max_icao_empresa_aerea AS quantidade_rotas_origem,
    result_destino.max_icao_empresa_aerea AS quantidade_rotas_destino,
    sum(ro.max_icao_empresa_aerea + result_destino.max_icao_empresa_aerea) AS quantidade_total_aeroporto
   FROM ( WITH max_destino AS (
                 WITH count_destino AS (
                         SELECT v.icao_empresa_aerea,
                            count(v.icao_empresa_aerea) AS count_icao_empresa_aerea,
                            v.icao_aerodromo_destino
                           FROM data_engineer.vra v
                          WHERE v.situacao_voo::text = 'REALIZADO'::text AND v.partida_real >= '2021-01-01 00:00:00'::timestamp without time zone AND v.chegada_real < '2022-01-01 00:00:00'::timestamp without time zone
                          GROUP BY v.icao_aerodromo_destino, v.icao_empresa_aerea
                        )
                 SELECT max(count_destino_1.count_icao_empresa_aerea) AS max_icao_empresa_aerea,
                    count_destino_1.icao_empresa_aerea
                   FROM count_destino count_destino_1
                  GROUP BY count_destino_1.icao_empresa_aerea
                )
         SELECT md.icao_empresa_aerea,
            md.max_icao_empresa_aerea,
            count_destino.icao_aerodromo_destino
           FROM ( SELECT v.icao_empresa_aerea,
                    count(v.icao_empresa_aerea) AS count_icao_empresa_aerea,
                    v.icao_aerodromo_destino
                   FROM data_engineer.vra v
                  WHERE v.situacao_voo::text = 'REALIZADO'::text AND v.partida_real >= '2021-01-01 00:00:00'::timestamp without time zone AND v.chegada_real < '2022-01-01 00:00:00'::timestamp without time zone
                  GROUP BY v.icao_aerodromo_destino, v.icao_empresa_aerea) count_destino
             JOIN max_destino md ON md.icao_empresa_aerea::text = count_destino.icao_empresa_aerea::text AND md.max_icao_empresa_aerea = count_destino.count_icao_empresa_aerea) result_destino
     JOIN result_origem ro ON ro.icao_aerodromo_origem::text = result_destino.icao_aerodromo_destino::text AND ro.icao_empresa_aerea::text = result_destino.icao_empresa_aerea::text
     LEFT JOIN data_engineer.air_cia ac ON ac.icao::text = result_destino.icao_empresa_aerea::text
     LEFT JOIN data_engineer.airport_info ai ON ai.icao::text = result_destino.icao_aerodromo_destino::text
  GROUP BY ai.name, result_destino.icao_aerodromo_destino, ac.razao_social, result_destino.icao_empresa_aerea, ro.max_icao_empresa_aerea, result_destino.max_icao_empresa_aerea
""")

In [4]:
def sql_execute(sql):
    with engine.connect() as conn:
        conn.execute(sql)

In [5]:
sql_execute(query)

In [6]:
select_query = ("""
    select * from data_engineer.view_aeroporto_companhia_aerea_maior_atuacao
""")

with engine.connect() as conn:
    res = conn.execute(select_query)
    df = pd.read_sql(select_query, conn)
res.fetchone()

('Abu Dhabi International Airport', 'OMAA', None, 'ETD', 6, 6, Decimal('12'))

In [7]:
df.head(3)

,name,icao_aeroporto,razao_social,icao_empresa_aerea,quantidade_rotas_origem,quantidade_rotas_destino,quantidade_total_aeroporto
0,Abu Dhabi International Airport,OMAA,None,ETD,6,6,12.0
1,Adolfo Suárez Madrid–Barajas Airport,LEMD,None,AEA,111,105,216.0
2,Afonso Pena International Airport,SBCT,AEROSUL TÁXI AÉREO LTDA (EX.: AUSTEN TÁXI AÉRE...,ASO,34,33,67.0